html {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  background-size: 200% 200%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

header {
  padding: 0;
  text-align: center;
  display: block;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  border-radius: 0 0 20px 20px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding-top: 0;
}

header h2 {
  font-size: 1.5rem;
  padding-top: 10px;
  color: #fff;
}

article {
  padding: 20px;
  margin: 1px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  text-align: left;
}

article img {
  display: block;
  width: 50%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px auto;
}

figcaption {
  font-size: 0.85rem;
  color: #666;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  padding: 10px;
}

time {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

footer {
  margin: auto auto 5px auto;
  max-width: 800px;
}

footer small {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #5c2121;
  border-top: 1px solid #eaeaea;
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(246, 2, 2, 0.362);
  text-shadow: rgb(30, 4, 4) -5px -2px 2px;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 600px) {
  html {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    background-size: 200% 200%;
  }

  header {
    background: white;
    max-width: 80%;
    margin: auto;
  }

  header h1,
  header h2 {
    color: black;
  }

  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1rem;
  }

  article {
    background: #000;
    color: white;
    max-width: 80%;
    font-size: 1rem;
    display: block;
    overflow: hidden;
  }

  article img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
  }

  figcaption {
    display: flex;
    justify-content: center;
  }

  footer {
    max-width: 80%;
    font-size: 0.8rem;
    color: white;
    margin: auto auto 5px auto;
    display: block;
    overflow: hidden;
  }

  footer small {
    background-color: green;
    font-size: 0.8rem;
    color: white;
    margin: 10px auto 5px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(2, 246, 144, 0.362);
    text-shadow: rgb(4, 30, 19) -5px -2px 2px;
  }

  main {
    padding: 10px 10px 0 10px;
  }
}
/* End of Mobile Styles */
